<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1>Banda</h1>
            </div>
            <div class="card-body">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Nome:</th>
                            <th>Idade:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% Banda.forEach(bandaItem => { %> 
                        <tr>
                            <td><img src="imgs/order.png" width="30px"></td>
                            <td><%= bandaItem.nome %></td>
                            <td><%= bandaItem.idade %></td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<%- include ('partials/footer.ejs') %>
