<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1>Músicas</h1>
            </div>
            <div class="card-body">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Nome:</th>
                            <th>Ano:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% Musicas.forEach(musicaItem => { %>
                            <tr>
                                <td><img src="imgs/logo.jpeg" width="30px"></td>
                                <td><%= musicaItem.nome %></td>
                                <td><%= musicaItem.ano %></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<%- include ('partials/footer.ejs') %>
